.combo-radio-main{
    margin-top: 5vh;
    margin-left: 5vw;
}

.serial-stack > *{
    height: 25px;
}


.table-head-history th{
    padding: 6px 16px !important;
}

.css-1hv8oq8-MuiStepLabel-label{
    font-size: 1rem !important;
}

.filter-page-input-main{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.date-filter input{
    height: 0.4375em
}