*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif !important;
  
}

button{
  cursor: pointer;
}

:root{
  --sl-input-font-family: font-family: 'Noto Sans', sans-serif !important;
}

*::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Track */
* ::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


.table-ceam *{
  font-size: 13px;
  color: black;
  font-family: 'Noto Sans', sans-serif !important;
}

.css-nfmglb-MuiTableCell-root{
  padding: 2px !important;
}

.MuiTableCell-body {
  border-right: 1px solid rgba(224, 224, 224, 1);
}

.css-1ygcj2i-MuiTableCell-root{
  padding: 0px !important;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root{
  padding: 0px !important;
}

.css-1ex1afd-MuiTableCell-root{
  padding: 8px 6px !important;
}
.tss-1cdcmys-MUIDataTable-responsiveBase{
  z-index: 0 !important;
}

.tss-1akey0g-MUIDataTableHeadCell-data {
  font-weight: 600;
  white-space: nowrap;
}
.tss-10syd3x-MUIDataTableHeadCell-root{
  font-weight: 600 !important;
  white-space: nowrap;
}
.tss-qbo1l6-MUIDataTableToolbar-actions *{
  color: rgb(82, 82, 82) !important;
}
.css-15wwp11-MuiTableHead-root *{
  color: rgb(44, 44, 44) !important;
  text-overflow: ellipsis;
   
    line-height: 10px;
    padding: 3px 2px !important;
}
.tss-1qtl85h-MUIDataTableBodyCell-root{
  width: max-content;
}

.tss-9562fz-MUIDataTableViewCol-root {
  padding: 16px 24px 16px 24px !important;
  font-family: Roboto;
}

.css-ubpweo-MuiPaper-root-MuiPopover-paper{
  min-width: 50vw !important;
  max-width: 50vw !important;
  right: 10px;
}

@media only screen and (max-width:900px){
  .css-ubpweo-MuiPaper-root-MuiPopover-paper{
    min-width: 60vw !important;
    max-width: 60vw !important;
    right: 10px;
  }
}
@media only screen and (max-width:600px){
  .css-ubpweo-MuiPaper-root-MuiPopover-paper{
    min-width: 70vw !important;
    max-width: 70vw !important;
    right: 10px;
  }
}